<link rel="shortcut icon" type="image/x-icon" href="https://raw.githubusercontent.com/manos-al-codigo/assets/master/logo/logo_1000x1000-transparent.png" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#1c90f3">
<meta name="msapplication-TileColor" content="#1c90f3">
<meta name="theme-color" content="#ffffff">